* {
  padding: 0;
  margin: 0;
}

.navigation {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: black;
  line-height: 40px;
  font-family: 'Open Sans';
  opacity: 70%;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation:hover {
  opacity: 85%;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.navigation ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation ul li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-image: -webkit-gradient(linear, left top, right top, from(#427eff), color-stop(50%, #427eff), color-stop(50%, white));
  background-image: linear-gradient(to right, #427eff, #427eff 50%, white 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation ul li a:hover {
  background-position: 0;
}

@media (max-width: 700px) {
  .navigation ul li a {
    font-size: 12px;
  }
}

* {
  padding: 0;
  margin: 0;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100%;
}

.slider .sliderImg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: imgChange 5s linear infinite;
          animation: imgChange 5s linear infinite;
}

@-webkit-keyframes imgChange {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes imgChange {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@media (max-width: 1024px) {
  .slider {
    height: 70vh;
  }
}

* {
  padding: 0;
  margin: 0;
}

.sections {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sections .aboutTheGamePicture {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 20%;
  z-index: -1;
}

.sections .aboutTheGamePicture2 {
  position: relative;
  width: 40%;
  margin: 50px;
}

.sections .H1_Title {
  font-size: 35px;
  font-family: 'horizon', serif;
  text-align: center;
}

.sections .Aloy_Text {
  text-align: center;
  padding: 50px;
  font-family: 'Open Sans';
}

.sections .white {
  color: white;
}

.sections .aboutTheGameText {
  width: 40%;
  margin: 50px;
  top: 50vw;
  font-family: 'Open Sans';
}

.sections .horizonZeroDawnText {
  width: 40%;
  margin: 50px;
  top: 50vw;
  font-family: 'Open Sans';
}

.sections .left {
  position: absolute;
  left: 50%;
}

.sections .aloyPicure {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.sections .aboutTheGameTextForbidden {
  position: absolute;
  width: 40%;
  margin: 50px;
  left: 50vw;
  font-family: 'Open Sans';
}

.sections .logoHorizon {
  width: 70%;
}

@media (max-width: 1024px) {
  .sections {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sections .aboutTheGamePicture2 {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .sections .aboutTheGameText {
    width: 90%;
    margin: 50px;
    top: 50vw;
    font-family: 'Open Sans';
  }
  .sections .Aloy_Text {
    text-align: left;
  }
  .sections .horizonZeroDawnText {
    width: 90%;
    margin: 50px;
    top: 50vw;
    font-family: 'Open Sans';
  }
  .sections .logoHorizon {
    width: 40%;
  }
  .sections .aboutTheGameTextForbidden {
    width: 90%;
    margin: 50px;
    font-family: 'Open Sans';
    left: 0;
  }
  .sections .aloyPicure {
    position: absolute;
    width: auto;
    z-index: -1;
  }
  #HorizonZeroDawn {
    background-image: url("../graphics/horizonZeroDawn2.jpg");
  }
  #HorizonForbiddenWest {
    background-image: url("../graphics/horizonForbiddenWest2.jpg");
  }
}

@media (max-width: 700px) {
  .sections {
    font-size: 12px;
  }
  .sections .aboutTheGameTextForbidden {
    position: static;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  position: relative;
  min-height: 100vh;
  background-color: #dadada;
}

.imagesGallery {
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding-bottom: 50px;
}

.imagesGallery a {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
}

.H1_Title_Gallery {
  position: relative;
  font-size: 35px;
  font-family: 'horizon', serif;
  text-align: center;
  font-size: 60px;
  padding: 30px;
}

.H1_Title_Gallery {
  font-size: 35px;
  font-family: 'horizon', serif;
  text-align: center;
}

.end {
  position: relative;
  height: 100vh;
  font-family: "Open Sans";
}

.galleryText {
  padding-top: 5vh;
  padding-left: 40vw;
  padding-right: 10vw;
}

.endPicture {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #4e4e4e;
  height: 5vh;
  color: white;
  text-align: center;
  line-height: 5vh;
  font-size: 12px;
  font-family: "Open Sans";
}

.end a {
  text-decoration: none;
}

.end a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .end {
    position: relative;
    height: 100%;
    font-family: "Open Sans";
  }
  .galleryText {
    padding-left: 40vw;
    padding-right: 10vw;
  }
  .H1_Title_Gallery {
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .end {
    font-size: 12px;
  }
  .galleryText {
    padding-left: 50vw;
  }
}
