.H1_Title_Gallery {
    @include H1_Title();
}

.end {
    position: relative;
    height: 100vh;
    font-family: "Open Sans";
}

.galleryText {
    padding-top: 5vh;
    padding-left: 40vw;
    padding-right: 10vw;
}

.endPicture {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(78, 78, 78);
    height: 5vh;
    color: white;
    text-align: center;
    line-height: 5vh;
    font-size: 12px;
    font-family: "Open Sans";

}

.end a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1024px) {
    .end {
        position: relative;
        height: 100%;
        font-family: "Open Sans";
    }

    .galleryText {
        padding-left: 40vw;
        padding-right: 10vw;
    }

    .H1_Title_Gallery {

        padding: 20px;
    }

}

@media (max-width: 700px) {
    .end {
        font-size: 12px;
    }

    .galleryText {
        padding-left: 50vw;
    }
}