@mixin flexSettings($rowColumn, $justifyContent) {
    display: flex;
    flex-direction: $rowColumn;
    justify-content: $justifyContent;
}

@mixin H1_Title() {
    font-size: 35px;
    font-family: 'horizon', serif;
    text-align: center;
}