* {
    padding: 0;
    margin: 0
}

.sections {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    .aboutTheGamePicture {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 20%;
        z-index: -1;
    }

    .aboutTheGamePicture2 {
        position: relative;
        width: 40%;
        margin: 50px;
    }

    .H1_Title {
        @include H1_Title();
    }

    .Aloy_Text {
        text-align: center;
        padding: 50px;
        font-family: 'Open Sans';
    }

    .white {
        color: white;
    }

    .aboutTheGameText {
        width: 40%;
        margin: 50px;
        top: 50vw;
        font-family: 'Open Sans';
    }

    .horizonZeroDawnText {
        width: 40%;
        margin: 50px;
        top: 50vw;
        font-family: 'Open Sans';
    }

    .left {
        position: absolute;
        left: 50%;
    }

    .aloyPicure {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .aboutTheGameTextForbidden {
        position: absolute;
        width: 40%;
        margin: 50px;
        left: 50vw;
        font-family: 'Open Sans';
    }

    .logoHorizon {
        width: 70%;
    }


}

@media (max-width: 1024px) {

    .sections {
        position: relative;
        display: flex;
        align-items: center;

        .aboutTheGamePicture2 {
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .aboutTheGameText {
            width: 90%;
            margin: 50px;
            top: 50vw;
            font-family: 'Open Sans';
        }

        .Aloy_Text {
            text-align: left;
        }

        .horizonZeroDawnText {
            width: 90%;
            margin: 50px;
            top: 50vw;
            font-family: 'Open Sans';
        }

        .logoHorizon {
            width: 40%;
        }

        .aboutTheGameTextForbidden {
            width: 90%;
            margin: 50px;
            font-family: 'Open Sans';
            left: 0;
        }
    }
}