* {
    padding: 0;
    margin: 0
}

.slider {
    position: relative;
    height: 100vh;
    width: 100%;

    .sliderImg {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: imgChange 5s linear infinite;
    }

    @keyframes imgChange {
        0% {
            opacity: 0;
        }

        5% {
            opacity: 0;
        }

        20% {
            opacity: 100%
        }

        80% {
            opacity: 100%
        }

        100% {
            opacity: 0%;
        }
    }

}